@import 'assets/scss/breakpoints';

.page-header {
  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: center;
  }

  &__logo {
    height: 150px;

    & img {
      max-height: 100%;
      width: auto;
    }
  }

  &__title {
    font-weight: bold;

    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-top: 1rem;
    }
  }
}
