@import 'assets/scss/breakpoints';

.page-header {
  margin: 0;

  &__logo {
    height: 150px;

    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }

    & img {
      max-height: 100%;
      width: auto;
    }
  }

  &__title {
    font-weight: bold;

    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-top: 1rem;
    }
  }
}
