@import 'assets/scss/breakpoints';

.modal-rules {
  &__btn-grid {
    display: flex;
    align-items: center;

    & button {
      height: 38px;
      width: 75px;
      margin-right: 1rem;
    }
  }

  &__footer {
    @include media-breakpoint-down(xs) {
      justify-content: space-around;
    }
  }
}
