@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';

.game {
  &-header {
    color: $yellow;

    &__logo img {
      width: 80%;
      height: auto;
    }

    &__title {
      & h1 {
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    &__timer {
      position: fixed;
      z-index: 10;

      @include media-breakpoint-up(sm) {
        right: 0;
        top: 0;
      }

      & > div {
        background-color: rgba(0, 0, 0, 0.5);
      }

      & p {
        font-size: 2rem;
      }
    }
  }
}
