@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';

.game {
  &-header {
    color: $yellow;

    &__timer {
      position: fixed;
      z-index: 10;
      top: 0;

      @include media-breakpoint-up(sm) {
        right: 0;
      }

      @include media-breakpoint-down(sm) {
        left: 1rem;
        right: 1rem;
      }

      & > div {
        background-color: rgba(0, 0, 0, 0.5);
      }

      & p {
        font-size: 2rem;
      }
    }
  }

  &-body {
    display: grid;
    grid-template-columns: 1fr;

    @include media-breakpoint-up(sm) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    & .card {
      margin: 0.5rem;
    }
  }
}
